# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Mohammad\work\Mohaimen\CodeStar\codestar-winter\Winter99-Codestar-Mohammad-Kasaei\phase 03\Winter99-codestar-inverted-index-search-java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
