@import "src/styles";

input {
  width: calc(100% - 2 * 15px);
  height: calc(100% - 2 * 5px);
  padding: 5px 15px;
  border-radius: 10px;
  outline: none;
  font-size: 1.2rem;
  font-family: Comic, serif;
}

input:focus, input:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
